/* qr.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.container {
  background-image: url('../images/wallpaper.jpg'); /* Correct syntax with url() */
  background-size: cover; /* Ensures the image covers the entire screen */
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.container h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem; /* Increased font size */
  color: #333;
}

#product-info {
  margin-bottom: 1.5rem;
  color: #666;
  font-size: 1.3rem; /* Increased font size */
}

#qr-image {
  max-width: 80%;
  height: auto;
  border: 5px solid #f0f0f0;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cancel-button {
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 1rem 2rem; /* Increased padding for a larger button */
  border-radius: 5px;
  font-size: 1.3rem; /* Increased font size */
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

#cancel-button:hover {
  background: #e60000;
  transform: translateY(-2px);
}

#cancel-button:active {
  transform: translateY(0);
}
